<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.manage.mapper.AfterSalesMapper">

    <resultMap type="AfterSales" id="AfterSalesResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="userId"    column="user_id"    />
        <result property="type"    column="type"    />
        <result property="apply"    column="apply"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="auditBy"    column="audit_by"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="auditDesc"    column="audit_desc"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAfterSalesVo">
        select id, order_id, goods_id, user_id, type, apply, audit_status, audit_by, audit_time, audit_desc, remark, create_time, update_by, update_time from tb_after_sales
    </sql>

    <select id="selectAfterSalesList" parameterType="AfterSales" resultMap="AfterSalesResult">
        <include refid="selectAfterSalesVo"/>
        <where>
            <if test="id != null ">and id = #{id}</if>
            <if test="type != null  and type != ''">and type = #{type}</if>
            <if test="auditStatus != null ">and audit_status = #{auditStatus}</if>
            <if test="auditBy != null  and auditBy != ''">and audit_by like concat('%', #{auditBy}, '%')</if>
            <if test="params.beginAuditTime != null and params.beginAuditTime != '' and params.endAuditTime != null and params.endAuditTime != ''">
                and DATE_FORMAT(audit_time, '%Y-%m-%d') between #{params.beginAuditTime} and #{params.endAuditTime}
            </if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">and update_by like concat('%', #{updateBy}, '%')</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectAfterSalesById" parameterType="Long" resultMap="AfterSalesResult">
        <include refid="selectAfterSalesVo"/>
        where id = #{id}
    </select>

    <insert id="insertAfterSales" parameterType="AfterSales" useGeneratedKeys="true" keyProperty="id">
        insert into tb_after_sales
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="apply != null and apply != ''">apply,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="auditBy != null">audit_by,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="auditDesc != null">audit_desc,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="apply != null and apply != ''">#{apply},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="auditBy != null">#{auditBy},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="auditDesc != null">#{auditDesc},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAfterSales" parameterType="AfterSales">
        update tb_after_sales
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="apply != null and apply != ''">apply = #{apply},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="auditBy != null">audit_by = #{auditBy},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="auditDesc != null">audit_desc = #{auditDesc},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAfterSalesById" parameterType="Long">
        delete from tb_after_sales where id = #{id}
    </delete>

    <delete id="deleteAfterSalesByIds" parameterType="String">
        delete from tb_after_sales where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
